body{
  background-color: #595858;
  font-family: 'Montserrat', sans-serif;
}

footer{
  background-color: #595858;
}

/* Styling of the NavBar */
.navbar-nav {
    float:none;
    text-align: right;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
#navbar-brand{
  color:white;
}
/*----------------------*/

/* Footer Styling */
#footer-text{
  margin-top: 10px;
  margin-bottom: 10px;
  color:black;
  font-size: 20px;

}
#footer-icons{
  margin-top: 10px;
  margin-bottom: 10px;
  color:black;
  text-align: right;
}
/* ----------------------------------------- */
