body{
  background-color: #595858;
  font-family: 'Montserrat', sans-serif;
}

/* Styling of the NavBar */
.navbar-nav {
    float:none;
    text-align: right;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
#navbar-brand{
  color:white;
}
/*----------------------*/
